################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs
/BEAUTY_PRO-/.vs/BEAUTY_PRO-
